@using TaskManager.Srv.Model.ViewModel;

<td colspan="6">
    <MudCard class="wrapper" id="animate">
        <MudCardContent>
            <Discussion></Discussion>
            <Milestone></Milestone>
            <ConnectingWi></ConnectingWi>
        </MudCardContent>
    </MudCard>
</td>